In [7]:
import pandas as pd 

df = pd.read_csv(r'..\VillageCraftsSocialSalesDataV1.txt')


display(df)

,Product: Custom Silver Necklace,Date: 2023-03-14,Sale Price: $71.22,Platform: Facebook,Likes: 85,Shares: 33,Comments: 28,Inquiries: 6,Sales: 3
0,Product: Custom Silver Necklace,Date: 2023-04-17,Sale Price: $60.3,Platform: Twitter,Likes: 142,Shares: 35,Comments: 44,Inquiries: 7,Sales: 1
1,Product: Organic Cotton Scarf,Date: 2023-05-02,Sale Price: $91.19,Platform: Twitter,Likes: 283,Shares: 63,Comments: 13,Inquiries: 14,Sales: 2
2,Product: Natural Stone Coaster Set,Date: 2023-03-20,Sale Price: $28.5,Platform: Instagram,Likes: 415,Shares: 21,Comments: 27,Inquiries: 11,Sales: 4
3,Product: Vintage Style Linen Dress,Date: 2023-04-12,Sale Price: $97.15,Platform: Twitter,Likes: 159,Shares: 34,Comments: 12,Inquiries: 10,Sales: 2
4,Product: Eco-Friendly Bamboo Clock,Date: 2023-04-16,Sale Price: $67.91,Platform: Facebook,Likes: 385,Shares: 50,Comments: 27,Inquiries: 14,Sales: 7
...,...,...,...,...,...,...,...,...,...
1994,Product: Natural Stone Coaster Set,Date: 2023-03-11,Sale Price: $46.03,Platform: Facebook,Likes: 396,Shares: 70,Comments: 48,Inquiries: 4,Sales: 2
1995,Product: Custom Silver Necklace,Date: 2023-04-17,Sale Price: $86.0,Platform: Instagram,Likes: 470,Shares: 25,Comments: 22,Inquiries: 8,Sales: 3
1996,Product: Personalized Leather Wallet,Date: 2023-03-03,Sale Price: $38.51,Platform: Facebook,Likes: 393,Shares: 56,Comments: 6,Inquiries: 13,Sales: 6
1997,Product: Handcrafted Wooden Bowl,Date: 2023-05-27,Sale Price: $61.09,Platform: Instagram,Likes: 257,Shares: 100,Comments: 41,Inquiries: 0,Sales: 0
1998,Product: Organic Cotton Scarf,Date: 2023-05-20,Sale Price: $73.96,Platform: Instagram,Likes: 348,Shares: 12,Comments: 32,Inquiries: 19,Sales: 7

In [76]:
list_of_dict = []

with open(r'..\VillageCraftsSocialSalesDataV1.txt') as file:
    for row in file:
        lst = row[:-1].split(',')
        dct = {}
        for pair in lst:
            key, value = pair.split(':')
            dct[key] = value 
        list_of_dict.append(dct)


list_of_dict[0]

{'Product': ' Custom Silver Necklace',
 ' Date': ' 2023-03-14',
 ' Sale Price': ' $71.22',
 ' Platform': ' Facebook',
 ' Likes': ' 85',
 ' Shares': ' 33',
 ' Comments': ' 28',
 ' Inquiries': ' 6',
 'Sales': ' 3'}

In [82]:
df = pd.DataFrame(list_of_dict)

display(df)

,Product,Date,Sale Price,Platform,Likes,Shares,Comments,Inquiries,Sales
0,Custom Silver Necklace,2023-03-14,$71.22,Facebook,85,33,28,6,3
1,Custom Silver Necklace,2023-04-17,$60.3,Twitter,142,35,44,7,1
2,Organic Cotton Scarf,2023-05-02,$91.19,Twitter,283,63,13,14,2
3,Natural Stone Coaster Set,2023-03-20,$28.5,Instagram,415,21,27,11,4
4,Vintage Style Linen Dress,2023-04-12,$97.15,Twitter,159,34,12,10,2
...,...,...,...,...,...,...,...,...,...
1995,Natural Stone Coaster Set,2023-03-11,$46.03,Facebook,396,70,48,4,2
1996,Custom Silver Necklace,2023-04-17,$86.0,Instagram,470,25,22,8,3
1997,Personalized Leather Wallet,2023-03-03,$38.51,Facebook,393,56,6,13,6
1998,Handcrafted Wooden Bowl,2023-05-27,$61.09,Instagram,257,100,41,0,0
1999,Organic Cotton Scarf,2023-05-20,$73.96,Instagram,348,12,32,19,7

In [88]:
# clean dataframe 

# df['Product'] = df['Product'].apply(lambda col: col.lstrip().rstrip())

df['Product'] = df['Product'].apply(lambda x: x.lstrip().rstrip())

df

,Product,Date,Sale Price,Platform,Likes,Shares,Comments,Inquiries,Sales
0,Custom Silver Necklace,2023-03-14,$71.22,Facebook,85,33,28,6,3
1,Custom Silver Necklace,2023-04-17,$60.3,Twitter,142,35,44,7,1
2,Organic Cotton Scarf,2023-05-02,$91.19,Twitter,283,63,13,14,2
3,Natural Stone Coaster Set,2023-03-20,$28.5,Instagram,415,21,27,11,4
4,Vintage Style Linen Dress,2023-04-12,$97.15,Twitter,159,34,12,10,2
...,...,...,...,...,...,...,...,...,...
1995,Natural Stone Coaster Set,2023-03-11,$46.03,Facebook,396,70,48,4,2
1996,Custom Silver Necklace,2023-04-17,$86.0,Instagram,470,25,22,8,3
1997,Personalized Leather Wallet,2023-03-03,$38.51,Facebook,393,56,6,13,6
1998,Handcrafted Wooden Bowl,2023-05-27,$61.09,Instagram,257,100,41,0,0
1999,Organic Cotton Scarf,2023-05-20,$73.96,Instagram,348,12,32,19,7

In [46]:
ex = 'Product: Custom Silver Necklace, Date: 2023-03-14, Sale Price: $71.22, Platform: Facebook, Likes: 85, Shares: 33, Comments: 28, Inquiries: 6,Sales: 3'

dct = {}

lst = ex.split(',')
for pair in lst:
    key, value = pair.split(':')
    dct[key] = value 

print(dct)

{'Product': ' Custom Silver Necklace', ' Date': ' 2023-03-14', ' Sale Price': ' $71.22', ' Platform': ' Facebook', ' Likes': ' 85', ' Shares': ' 33', ' Comments': ' 28', ' Inquiries': ' 6', 'Sales': ' 3'}